<ul id="contenedor-lista" class='demo-list-icon mdl-list w-100'>
  {{#listaProductos}}
  <li class='mdl-list__item'>

    <!-- Icono de producto -->
    <span class='mdl-list__item-primary-content w-10'>
      <i class='material-icons mdl-list__item-icon'>shopping_cart</i>
    </span>

    <!-- Nombre de producto -->
    <span class='mdl-list__item-primary-content w-30'>
      {{this.nombre}}
    </span>

    <!-- Cantidad del producto -->
    <span class='mdl-list__item-primary-content w-20'>
      <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
        <input
          class='cambiar-cantidad mdl-textfield__input'
          type='text'
          id='cantidad-{{this.id}}'
          value='{{this.cantidad}}'
          data-id="{{this.id}}"
          data-valor="cantidad"
        />
        <label
          class='mdl-textfield__label'
          for='cantidad-{{this.id}}'
        >Cantidad</label>
      </div>
    </span>

    <!-- Precio del producto -->
    <span class='mdl-list__item-primary-content w-20 ml-item'>
      <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
        <input
          class='cambiar-precio mdl-textfield__input'
          type='text'
          id='precio-{{this.id}}'
          value='{{this.precio}}'
          data-id="{{this.id}}"
          data-valor="precio"
        />
        <label class='mdl-textfield__label' for='precio-{{this.id}}'>Precio</label>
      </div>
    </span>

    <!-- Acción (borrar producto) -->
    <span class='mdl-list__item-primary-content w-20 ml-item'>
      <button
        class='btn-delete mdl-button mdl-js-button mdl-button--fab mdl-button--colored'
        data-id="{{this.id}}"
      >
        <i class='material-icons'>remove_shopping_cart</i>
      </button>
    </span>
  </li>
  {{/listaProductos}}
</ul>
